.list-content{
  .list-title{
    text-align: center;
    font-size: 16px;
    marign-bottom: 5px;

  }
  .title-line{
    display: inline-block;
    border-bottom: 1px solid #949494;
    height: 1px;
    width: 30px;
    margin-left: 4px;
    margin-right:4px;
    marign-bottom:4px;
  }
}